
<a href="http://localhost:3000/pictures/new" class="btn btn-primary btn-large">Add A New Picture</a>

<div><% @pictures.each do |picture| %></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= picture.caption %></h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-2">
              <img src="<%= picture.image_url %>" class="img-responsive">
          </div>
          <div class="col-sm-10">
            <dl>

              <dt>Actions</dt>
              <dd>
                <a href="/pictures/<%= picture.id %>" class="btn btn-primary">Show</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

