<h1>Add A New Picture</h1>

<form action="/create_picture">

  <div>
    <label for="name">Picture Name</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="id">Picture ID</label>
    <input id="id" type="text" name="id">
  </div>
  <div>
    <label for="caption">Caption</label>
    <input id="caption" type="text" name="caption">
  </div>
  <div>
    <label for="image_url">Image URL</label>
    <input id="image_url" type="text" name="image_url">
  </div>
  <div>
    <input type="submit">
  </div>

</form>
