<h1>Add A New Picture</h1>

<form action="http://localhost:3000/create_picture">
  <div>
    <label for="source">Source:</label>
    <input id="source" name="source" type="text" value = "<%= @p.source %>" >
  </div>
  <div>
    <label for="caption">Caption:</label>
    <input id="caption" name="caption" type="text" value = "<%= @p.caption %>" >
  </div>
    <input type="submit" value="Create Picture">
  </div>
</form>


